
body {
  font-family: Arial, sans-serif;
  background-color: #0d1c26;
  color: #f0f0f0;
  margin: 0;
}
header, footer {
  background-color: #021a28;
  padding: 2rem;
  text-align: center;
}
nav {
  background-color: #031f33;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
nav a {
  color: #aad5ff;
  text-decoration: none;
}
section {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}
section h2 {
  color: #aad5ff;
}
ul li {
  margin: 1rem 0;
  cursor: pointer;
}
